body {
    background-color: #141414;
    margin: 0;
    height: 100vh;
}

@font-face {
    font-family: 'Modeseven';
    src: url('fonte/Modeseven-L3n5.ttf') format('truetype');
}

header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 60px;
}

header a {
    font-family: 'Press Start 2P', monospace;
    text-decoration: none;
    color: #149414;
    font-size: 20px;
}

#conteudo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conteudo h1 {
    color: #149414;
    margin: 0;
    font-family: 'Press Start 2P', monospace;
    font-weight: 200;
}

#terminal {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    height: 550px;
    max-height: 550px;
    width: 600px;
    max-width: 600px;
    border: 3px solid #149414;
    align-items: flex-end;
    overflow: auto;
}

.bouncing-text {
    position: relative;
    display: flex;
    font-size: 70px;
    font-family: arial black;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-55px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    58% {
        transform: scale(1, 1) translateY(-7px);
    }

    65% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.letter {
    animation: bounce 1s ease infinite;
    animation-fill-mode: both;
    display: inline-block;
    opacity: 0;
}

.letter:nth-child(1) {
    animation-delay: 0s;
}

.letter:nth-child(2) {
    animation-delay: 0.2s;
}

.letter:nth-child(3) {
    animation-delay: 0.4s;
}

.letter:nth-child(4) {
    animation-delay: 0.6s;
}

.letter:nth-child(5) {
    animation-delay: 0.8s;
}

.letter:nth-child(6) {
    animation-delay: 1.0s;
}

.letter:nth-child(7) {
    animation-delay: 1.2s;
}

.letter:nth-child(8) {
    animation-delay: 1.4s;
}

.letter:nth-child(9) {
    animation-delay: 1.6s;
}

.letter:nth-child(10) {
    animation-delay: 1.8s;
}

.letter:nth-child(11) {
    animation-delay: 2.0s;
}

.letter:nth-child(12) {
    animation-delay: 2.2s;
}

.letter:nth-child(13) {
    animation-delay: 2.4s;
}

.letter:nth-child(14) {
    animation-delay: 2.6s;
}

.space {
    width: 30px;
    /* Ajuste conforme necessário para espaçamento entre as palavras */
}


#codigos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.textos {
    flex: 1;
    min-width: 0;
    min-height: 20px;
    font-size: 20px;
    color: #149414;
    text-align: center;
    line-height: 2;
    font-family: 'Modeseven', monospace;
    font-weight: 200;
    padding: 5px;
}

#comando {
    width: 100%;
    background-color: black;
    color: blanchedalmond;
    margin-top: 10px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}