body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #141414;
    margin: 0;
    height: 100vh;
    font-family: 'Press Start 2P', monospace;
    color: #149414;
}

input {
    width: 30vw;
}

button {
    margin-top: 20px;
    width: 20vw;
    margin-bottom: 10px;
}

#voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #149414;
}

p {
    margin-bottom: 5px;
}