
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #141414;
    margin: 0;
    height: 100vh;
    font-family: 'Press Start 2P', monospace;
    color: #149414;
}

.texto {
    flex: 1;
    min-width: 0;
    min-height: 20px;
    font-size: 14px;
    color: #149414;
    text-align: center;
    line-height: 2;
    font-family: 'Press Start 2P', monospace;
    font-weight: 200;
    padding: 5px;
}

#quadrado {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    height: 550px;
    max-height: 550px;
    width: 600px;
    max-width: 600px;
    border: 3px solid #149414;
  
    overflow-y: auto;
}

#voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #149414;
}

.rank-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.rank-item{
    padding: 10px 20px;
    list-style: none;

    display: flex;
    width: 100%;
    border-bottom: 1px dotted #149414;
}

.team-container{
    flex-grow: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
