
body {
    display: flex;
    background-color: #141414;
    font-family: 'Press Start 2P', monospace;
    width: 100vw;

}

#login-form{
    color: #149414;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
}

.inputs-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    justify-content: center;
}
input{
    border-radius:5px;
    padding: 10px;
    border: 1px dashed #149414;
    outline: none;
    background-color: #9999;
    color: #149414;
}
.btn{
    background-color: #149414;
    color: white;
    border: none;
    border-radius:5px;
    padding: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #17b817;

}

#voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #149414;
    font-family: 'Press Start 2P', monospace;
}

a{
    color: #149414;
    font-size: small;
}
